@use "../../styles/colors";

.container {
  display: flex;
  align-items: center;
}

.light {
  background-color: rgba(colors.$primary_main, 10%);
}

.dark {
  background-color: rgba(colors.$primary_main, 20%);
}

.id {
  font-size: 3rem;
  font-weight: 900;
  padding: 2rem;
  background-color: rgba(colors.$primary_main, 10%);
}