.container {
    padding: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  .light {
    background-color: #f6f6f6;
  }
  
  .dark {
    background-color: #e0e0e0;
  }