@use "../../styles/colors";

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.option {
    text-align: center;
}

.collectorContainer {
    padding: 0.5rem !important;
}