@use "../../styles/colors";

.container {
    padding: 1rem 0;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 2rem;
}

.option {
    text-align: center;
}
