@use "../../styles/colors";

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 0.9rem;
  font-weight: 700;
  color: colors.$text_primary;
}

.info {
  font-size: 0.9rem;
  font-weight: 700;
  color: colors.$secondary_main;
}