@use "../../styles/colors";

.card {
    margin: 0;
}

.media {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    margin: 1rem 0;
}

.title {
    font-weight: 700;
}

.price {
    color: colors.$success_main;
    font-weight: 700;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes {
    text-transform: lowercase;
}

.badge {
    background-color: colors.$success_main;
    color: colors.$background_default;
    border-radius: 8%;
    font-weight: bold;
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 0.8rem;
    top: 1.5rem;
    left: 0.5rem;
}

.live {
    position: relative;
}

.countdown {
    margin: 0;
    background-color: colors.$success_main;
    border-radius: 0 0 1rem 1rem;
    color: colors.$background_default;
    font-weight: 700;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 1.5rem;
}