@use "../../styles/colors";

.card {
    margin: 1rem;
    max-width: 15rem;
    max-height: 30rem;
}

.media {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}

.title {
    font-weight: 700;
}

.price {
    color: colors.$success_main;
    font-weight: 700;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes {
    text-transform: lowercase;
}

.badge {
    background-color: colors.$success_main;
    color: colors.$background_default;
    border-radius: 10%;
    font-weight: bold;
    padding: 0.5rem;
    width: 35%;
    display: flex;
}