@use "../../styles/colors";

.container {
    background: colors.$background_paper;
    max-width: 100% !important;
    margin-top: 0.5rem;
}

.input {
    background: colors.$background_default;
    width: 100%;
    border-radius: 25px;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
}

.active {
    background: colors.$primary_main !important;
}