@use "../../styles/colors";

.container {
    margin-top: 5rem;
}

.text {
    color: colors.$text_disabled;
}

.buttons {
    font-weight: 400 !important;
    text-transform: none !important;
    font-size: 0.9rem !important;
}