@use "../../styles/colors";

.container {
    background-color: colors.$primary_main;
    margin: 4rem 0;
}

.how {
    height: 510px;
    padding: 0 2.25rem;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.info h1 {
    font-size: 3.2rem;
    margin: 0;
    font-weight: 900;
}

.info p {
    margin-bottom: 3rem;
}

.btn {
    background-color: colors.$text_primary !important;
    color: colors.$primary_main !important;
}