@use "../../styles/colors";

.container {
    background-color: colors.$primary_main;
    height: 84vh;
    margin: 8vh 0;
    padding: 2rem;
}

.how {
    height: 100%;
    align-items: center;
}

.info h1 {
    font-size: 5rem;
    margin: 0;
}

.info p {
    font-size: 1.3rem;
    margin-bottom: 3rem;
}

.btn {
    background-color: colors.$text_primary !important;
    color: colors.$primary_main !important;
}